.xm-dropdown{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    overflow:visible
}
.xm-dropdown.mobile a{
    color:#18354a
}
.xm-dropdown.mobile a:hover{
    color:#18354a
}
.xm-dropdown.mobile .collapsible a{
    color:#fff
}
.xm-dropdown a{
    display:flex;
    align-items:center;
    font-weight:normal;
    text-decoration:none;
    text-transform:capitalize;
    padding:6px 12px;
    border-radius:4px;
    color:#eee
}
.xm-dropdown .collapsible a{
    background-color:#18354a;
    padding:10px 15px !important
}
.xm-dropdown .collapsible a:hover{
    color:#c79c25
}
.xm-dropdown .flag-icon{
    border-radius:5px;
    margin-right:7px;
    margin-left:10px
}
.xm-dropdown .collapsible .flag-icon{
    margin-right:7px;
    margin-left:0px
}
.xm-dropdown a:hover{
    color:#18354a
}
.xm-dropdown .collapsible{
    position:fixed;
    top:35px;
    right:auto;
    margin:0px;
    padding:0px;
    border-radius:4px;
    overflow:hidden;
    width:136px;
    display:none;
    z-index:1001
}
.xm-dropdown div a{
    border-radius:0;
    box-sizing:content-box;
    width:auto
}
header.scrolled .xm-dropdown .collapsible{
    top:15px
}
:root{
    --app-height: 100vh
}
html,body{
    font-family:"Inter";
    font-size:12px;
    overflow-x : hidden
}
@media(min-width: 768px){
    html,body{
        font-size:13px
    }
}
@media(min-width: 992px){
    html,body{
        font-size:14px
    }
}
@media(min-width: 1280px){
    html,body{
        font-size:16px
    }
}
p{
    font-size:1rem
}
h1{
    font-size:4rem;
    margin:1rem 0;
    line-height:1.1
}
h2{
    font-size:3rem;
    margin:1rem 0;
    line-height:1.1
}
h3{
    font-size:2rem;
    margin:1rem 0;
    line-height:1.1
}
h4{
    font-size:1.5rem;
    margin:1rem 0;
    line-height:1.1
}
section{
    display:flex;
    min-height:100vh;
    padding:20px 0
}
section .background{
    position:absolute;
    z-index:-1;
    height:75%
}
.container{
    margin:0 auto;
    max-width:1280px;
    padding:0 20px;
    position:relative;
    width:100%
}
img{
    max-width:100%
}
a{
    cursor:pointer
}
.btn{
    border-radius:5px;
    border:none;
    color:#000;
    cursor:pointer;
    display:inline-block;
    font-weight:bold;
    min-width:150px;
    outline:none;
    padding:5px 20px;
    position:relative;
    text-align:center;
    transition:all .3s ease;
    background:#d4b881;
    background-image:linear-gradient(45deg, #d4b881 0%, #f1f1c0 100%);
    -webkit-transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    transition:all 200ms ease
}
.btn.btn-header:hover{
    color:#555;
    transform:scale(1.1);
    box-shadow:0 0 10px #000
}
.btn.loading span{
    visibility:hidden
}
.btn.loading:after{
    content:"";
    position:absolute;
    width:25px;
    height:25px;
    background:transparent;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    border:4px solid #000;
    border-top-color:transparent;
    border-radius:50%;
    animation:loading_animation_spinner 1s ease infinite
}
@keyframes loading_animation_spinner{
    from{
        transform:rotate(0turn)
    }
    to{
        transform:rotate(1turn)
    }
}
.highlight{
    color:#ffce48
}
.row{
    display:flex
}
.row .col{
    width:100%
}
.row.two-cols{
    flex-wrap:wrap;
    justify-content:space-between
}
.row.two-cols .col{
    width:100%
}
@media(min-width: 640px){
    .row.two-cols .col{
        width:calc(50% - 40px)
    }
}
.row.three-cols{
    flex-wrap:wrap;
    justify-content:space-between
}
.row.three-cols .col{
    width:100%
}
@media(min-width: 640px){
    .row.three-cols .col{
        width:calc(33.3333333333% - 30px)
    }
}
.row.inverted{
    flex-flow:column
}
@media(min-width: 640px){
    .row.inverted{
        flex-flow:row-reverse
    }
}
.vcentered{
    display:flex;
    align-items:center
}
.logo{
    padding:1rem 0;
    line-height:1;
    font-size:0
}
.logo img{
    max-width:200px;
    width:100%
}
.logo-line{
    background-color:#ffce48;
    border-radius:20px 0 20px 0;
    display:inline-block;
    height:5px;
    margin-right:10px;
    width:50px
}
.minilogo{
    letter-spacing:4px;
    font-weight:800
}
.title{
    text-align:center
}
.title h2{
    margin-bottom:10px
}
.title p{
    margin-top:0;
    display:inline-block;
    max-width:640px;
    font-weight:400;
    font-size:1.2rem;
    color:#555
}
.hide-on-mobile{
    display:none
}
@media(min-width: 992px){
    .hide-on-mobile{
        display:inherit
    }
}
header{
    left:0;
    top:0;
    overflow:hidden;
    padding:20px 0;
    position:fixed;
    width:100%;
    z-index:1000;
    -webkit-transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    transition:all 200ms ease
}
header::before{
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    box-shadow:inset 0 0 2000px rgba(0,0,0,.5);
    -webkit-appearance:none;
    margin:-30px;
    opacity:0;
    background:#18354a;
    -webkit-transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    transition:all 200ms ease
}
header.no-opacity{
    padding:0
}
header.no-opacity::before{
    opacity:1
}
header.scrolled{
    padding:0
}
header.scrolled #mainnav li a.menu-item:hover{
    color:#c79c25
}
header.scrolled::before{
    opacity:1
}
header .container{
    display:flex;
    align-items:center;
    justify-content:space-between
}
header #mainnav{
    align-items:center;
    color:#fff;
    justify-content:flex-end;
    list-style:none;
    line-height:1;
    display:inline-flex
}
.slideleft {
    animation: slideleft 600ms ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideleft {
        from {
            transform : translateX(0px);
        }
        to {
            transform : translateX(-200%);
            display : none !important;
        }
    }

    .slideright {
    animation: slideright 600ms ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideright {
        from {
            transform : translateX(-200%);
        }
        to {
            transform : translateX(0px);
            background : green !important;
        }
    }

@media(max-width: 992px){
    .menu-open {
        border: 1px solid #b2a388;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    header #mainnav:before{
            content: attr(data-name);
        background: #102431;
        display: block;
        width: 100%;
        padding: 20px;
        font-weight: 900;
        font-size: medium;
        letter-spacing: 0.5px;
    }
    header #mainnav{
    background: #051018;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left : 0px;
    transform : translateX(-200%);
    z-index : 999;
   
    /* animation-play-state: paused; */
    }
    .menu-backdrop:before{
        background: #0d1f2b61;
        content: "";
        width: 100vw;
        position: fixed;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        animation: right 1s ease-in;
        animation-fill-mode: forwards;
        /* border: 3px solid red; */
    }
    header #mainnav li {
        width: 100%;
        /* padding: 10px; */
        border-bottom:0.3px solid #ffffff1c;
        margin: 0px !important;
    }
    header #mainnav li a:not(.btn){
        display : block;
        padding : 20px !important;
        transition : all 200ms ease-in;
    }
    header #mainnav li a:not(.btn):hover{
        background : #122b3cbf;
    }
    li.menu-close {
            position: absolute;
            /* right: calc(20px - 100%); */
            right : calc(calc(40px + 53%) - 100%);
            height: 40px;
            width: 40px !important;
            top: 20px;
            padding: 0px;
            /* background: #05101840; */
            background : #051018;
            outline: 2px solid #f9f9f9;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            
    }
   
}
 
/* @media  */
header #mainnav li{
    margin:0 5px
}
header #mainnav li a{
    padding:10px 20px;
    font-weight:500
}
header #mainnav li a.menu-item:hover{
    color:#18354a
}
header #mainnav li a.btn{
    margin-left:20px;
    padding:14px 20px
}
footer{
    background:transparent linear-gradient(180deg, #295579 0%, #0F232F 100%) 0% 0% no-repeat padding-box;
    height:100%;
    padding:30px 0;
    padding-bottom:0;
    position:relative;
    z-index:200
}
footer .container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap
}
@media(min-width: 768px){
    footer .container{
        flex-wrap:nowrap
    }
}
footer .logo{
    margin-bottom:30px;
    text-align:center;
    width:100%
}
@media(min-width: 768px){
    footer .logo{
        margin-bottom:0;
        text-align:left;
        width:auto
    }
}
footer #footernav{
    align-items:center;
    color:#fff;
    justify-content:center;
    list-style:none;
    line-height:1;
    display:inline-flex;
    text-align:center;
    width:100%;
    padding:0
}
footer #footernav:hover{
    color:#c79c25
}
@media(min-width: 768px){
    footer #footernav{
        width:auto
    }
}
footer #footernav li{
    margin:0 5px
}
footer #footernav li a{
    padding:10px 20px;
    font-size:2rem
}
footer .footer-disclaimer{
    padding-bottom:15.5px;
    padding-top:12.5px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:column
}
footer .footer-disclaimer div{
    width:95%;
    max-width:1100px;
    border-top:1px solid #ffffff0d
}
footer .footer-disclaimer h5{
    color:#fff;
    text-align:center;
    margin-bottom:0;
    font-size:12px;
    opacity:1
}
footer .footer-disclaimer p{
    color:#fff;
    text-align:center;
    font-size:10px;
    opacity:.9
}
footer .footer-disclaimer .footer-terms{
    display:inline-block;
    list-style:none;
    padding:0;
    display:flex;
    gap:15px;
    margin-top:0
}
footer .footer-disclaimer .footer-terms li a{
    color:#fff;
    font-size:13px
}
footer .footer-disclaimer .footer-terms li a:hover{
    color:#c79c25
}
@media(max-width: 480px){
    footer .footer-disclaimer .footer-terms{
        flex-flow:column;
        align-items:center;
        gap:10px
    }
}
footer .footer-links{
    padding-bottom:12.5px;
    padding-top:12.5px;
    display:flex;
    align-items:center;
    justify-content:center
}
footer .footer-links ul{
    list-style:none;
    padding:0;
    display:inline-block;
    margin:0;
    gap:10px
}
footer .footer-links ul li{
    display:inline-block;
    margin:0 2.5px
}
footer .footer-links ul li a{
    text-decoration:none;
    color:#fff
}
footer .footer-links ul li a:hover{
    color:#c79c25
}
.mobile-login{
    bottom:20px;
    left:50%;
    min-width:200px;
    padding:10px 20px;
    position:fixed;
    transform:translateX(-50%);
    z-index:100
}
@media(min-width: 992px){
    .mobile-login{
        display:none
    }
}
#home{
    background-image:url("../img/banner.jpg");
    /* background: rgba(0, 0, 0, .65) url("../img/banner.jpg"); */
    /* background:  url("../img/banner.png"); */
    /* background-blend-mode: darken; */
    background-position:center;
    background-attachment:fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    z-index:-10;
    color:#fff;
    min-height:100vh;
    min-height:--app-height;
    padding:100px 0;
    position:relative;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    transition:all 1s ease
}
@media(max-width: 768px){
    #home{
        -webkit-background-size:auto 90vh;
        -moz-background-size:auto 90vh;
        background-size:auto 90vh;
        -o-background-size:auto 90vh;
        background-position:top;
        min-height:100vh;
        min-height:var(--app-height)
    }
}
@media not all and (min-resolution: 0.001dpcm){
    @supports(-webkit-appearance: none){
        #home .safari_only{
            color:blue;
            background-color:#ccc
        }
    }
}
#home.inverted{
    filter:invert(1)
}
#home .container .content{
    bottom:0;
    left:auto;
    position:absolute;
    max-width:none;
    width:calc(100% - 40px);
    text-align:center;
    z-index:10
}
@media(min-width: 992px){
    #home .container .content{
        /* bottom:20px; */
        max-width:800px;
        text-align:left
    }
}
#home .container .content img{
    max-width:500px;
    width:100%
}
#home .container .content P{
    margin:30px 0 0;
    font-size:2.9rem;
    line-height:1.2;
    font-weight:600
}
@media(min-width: 768px){
    #home .container .content P{
        font-size:3.4rem
    }
}
@media(min-width: 1280px){
    #home .container .content P{
        font-size:3.7rem
    }
}
#home:before{
    -webkit-appearance:none;
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:0;
    background-image:-webkit-linear-gradient(0deg, #00000050 0%, rgba(255, 0, 0, 0) 100%);
    background-image:linear-gradient(0deg, #00000050 0%, rgba(255, 0, 0, 0) 100%)
}
#mission{
    position:relative
}
#mission .container{
    overflow:hidden
}
#mission:before{
    opacity:0;
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:0;
    background-image:-webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.45) 10%, rgba(255, 0, 0, 0) 100%);
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.45) 10%, rgba(255, 0, 0, 0) 100%);
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    transition:all 1s ease
}
#mission.loading:before{
    opacity:1
}
#mission .background{
    left:0;
    bottom:0
}
#vision{
    position:relative
}
#vision .container{
    overflow:hidden
}
#vision .background{
    right:0;
    bottom:0
}
#leader{
    background-image:url("../img/rainbow_pattern_alt.png");
    background-attachment:fixed;
    background-size:cover;
    position:relative
}
#leader .cards-row{
    margin-top:20px
}
#leader .card{
    position:relative;
    overflow:hidden;
    z-index:1;
    background:inherit;
    box-shadow:0 0 2px 0 rgba(0,0,0,.2);
    -webkit-appearance:none;
    border-radius:5px;
    text-align:center;
    padding:50px 30px;
    margin:10px 0;
    -webkit-transition:all 100ms ease;
    -moz-transition:all 100ms ease;
    transition:all 100ms ease
}
#leader .card::before{
    content:"";
    position:absolute;
    background:inherit;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    box-shadow:inset 0 0 2000px rgba(255,255,255,.5);
    -webkit-filter:blur(10px);
    -moz-filter:blur(10px);
    -o-filter:blur(10px);
    -ms-filter:blur(10px);
    filter:blur(10px);
    margin:-20px;
    -webkit-backdrop-filter:blur(1px);
    backdrop-filter:blur(1px);
    background-image:url(../img/rainbow_pattern_alt.png);
    background-attachment:fixed;
    background-size:cover
}
@media only screen and (-webkit-min-device-pixel-ratio: 3){
    #leader .card::before{
        -webkit-backdrop-filter:blur(10px)
    }
}
#leader .card i{
    -webkit-transition:all 100ms ease;
    -moz-transition:all 100ms ease;
    transition:all 100ms ease
}
#leader .card:hover i{
    transform:scale(1.1)
}
#leader .card i{
    color:#18354a;
    margin-bottom:20px
}
@media(max-width: 768px){
    #leader{
        background-size:100% 100vh
    }
    #leader .card::before{
        background-size:100% 100vh
    }
}
#ecosystem{
    position:relative;
    z-index:2000;
    height:auto;
    background-color:#06334e;
    background-image:url(../img/rainbow_pattern_alt.png);
    background-attachment:fixed;
    background-size:cover;
    position:relative;
    color:#fff
}
#ecosystem a:hover{
    color:#ffd94b
}
#ecosystem .golden-button{
    border-radius:5px;
    color:#fff;
    padding:10px;
    border:1px solid #fff;
    display:inline-block
}
#ecosystem .golden-button:hover{
    border:1px solid #c79c25
}
#ecosystem h3{
    text-transform:uppercase
}
#ecosystem h1{
    color:#c79c25;
    font-weight:bold;
    text-transform:uppercase
}
#ecosystem .track{
    height:500vh;
    width:calc(100vw - (100vw - 100%))
}
#ecosystem .track .hud{
    position:sticky;
    position:-webkit-sticky;
    top:0px;
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-direction:column
}
#ecosystem .track .hud .bg{
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:100%
}
#ecosystem .track .hud .viewport{
    flex-grow:1;
    display:flex;
    position:relative;
    overflow:hidden
}
#ecosystem .track .hud .viewport .pages-container{
    position:relative;
    height:100%;
    width:100%;
    display:flex
}
#ecosystem .track .hud .viewport .pages-container .page{
    position:relative;
    width:100%;
    height:100%;
    flex:0 0 auto;
    border-bottom:1px solid #7a7fb3;
    padding:5px 20px
}
#ecosystem .track .hud .viewport .pages-container .page.invisible{
    display:none !important
}
#ecosystem .track .hud .viewport .pages-container .page.hidden-right{
    opacity:0;
    transform:translateX(100%);
    transition-duration:.4s;
    transition-property:opacity,transform
}
#ecosystem .track .hud .viewport .pages-container .page.zoom-far{
    opacity:0;
    transform:scale(0.1);
    transition-duration:.4s;
    transition-property:opacity,transform
}
#ecosystem .track .hud .viewport .pages-container .page.zoom-far.visible{
    opacity:1;
    transform:scale(1)
}
#ecosystem .track .hud .viewport .pages-container .page .col{
    padding:0 15px
}
#ecosystem .track .hud .skip-ecosystem{
    text-transform:uppercase;
    display:flex;
    justify-content:flex-end;
    margin-bottom:20px
}
#ecosystem .track .hud .app-bar{
    display:flex;
    max-height:100px;
    align-items:center
}
#ecosystem .track .hud .app-bar .logo{
    position:relative;
    width:200px
}
#ecosystem .track .hud .app-bar .logo h3{
    position:absolute;
    top:calc(100% - 20px);
    letter-spacing:2px;
    left:50%;
    font-size:1.8rem;
    transform:translateX(-50%)
}
#ecosystem .track .hud .app-bar ul.nav-menu{
    display:none;
    align-items:center;
    color:#fff;
    justify-content:flex-end;
    list-style:none;
    line-height:1;
    flex-grow:1;
    width:calc(100% - 200px)
}
@media(min-width: 992px){
    #ecosystem .track .hud .app-bar ul.nav-menu{
        display:inline-flex
    }
}
#ecosystem .track .hud .app-bar ul.nav-menu li{
    margin:10px 15px;
    text-align:center;
    position:relative
}
#ecosystem .track .hud .app-bar ul.nav-menu li::after{
    content:"";
    position:absolute;
    height:2px;
    width:0%;
    bottom:-10px;
    left:50%;
    background-color:#c79c25;
    border-radius:5px;
    transition:all .3s ease
}
#ecosystem .track .hud .app-bar ul.nav-menu li.active::after{
    width:100%;
    left:0%;
    transition:all .3s ease
}
#ecosystem .xfa-button-container{
    display:flex
}
#ecosystem .xfa-button-container .xfa-button{
    border-radius:5px;
    color:#08324f;
    font-weight:bold;
    padding:10px 25px;
    border:1px solid #444;
    background-color:#fffac5;
    display:inline-block
}
#ecosystem .xfa-button-container .xfa-button:hover{
    border:1px solid #9b9b9b;
    background-color:#e9ca5a
}
@media(max-width: 992px){
    #ecosystem{
        background-size:100% auto;
        padding-bottom:0
    }
    #ecosystem .track{
        height:auto;
        top:-20px
    }
    #ecosystem .track .hud{
        position:relative;
        overflow:unset;
        height:auto
    }
    #ecosystem .track .hud .bg{
        display:none
    }
    #ecosystem .track .hud .app-bar{
        position:sticky;
        transform:translateX(-20px);
        width:calc(100% + 40px);
        padding:0 20px;
        z-index:1;
        background:#353752;
        top:0px;
        overflow:hidden
    }
    #ecosystem .track .hud .app-bar .logo{
        display:flex;
        width:auto;
        align-items:center
    }
    #ecosystem .track .hud .app-bar .logo h3{
        margin:0 0 0 20px;
        top:auto;
        left:auto;
        transform:unset;
        position:relative
    }
    #ecosystem .track .hud .viewport{
        display:block;
        position:relative
    }
    #ecosystem .track .hud .viewport .pages-container{
        display:block
    }
    #ecosystem .track .hud .viewport .pages-container .page{
        position:relative;
        text-align:center;
        min-height:60vh
    }
    #ecosystem .track .hud .viewport .pages-container .page .col{
        margin:100px 0;
        justify-content:center
    }
    #ecosystem .track .hud .viewport .pages-container .page img{
        max-width:300px
    }
    #ecosystem .track .hud .viewport .pages-container .page:last-child{
        border:none
    }
    #ecosystem .track .hud .skip-ecosystem{
        position:sticky;
        position:-webkit-sticky;
        bottom:20px;
        align-items:center;
        justify-content:center;
        margin-bottom:0
    }
    #ecosystem .track .hud .skip-ecosystem a{
        padding:10px 20px;
        min-width:200px;
        text-align:center;
        text-transform:none
    }
    #ecosystem .xfa-button-container{
        align-items:center;
        justify-content:center
    }
}
@media(max-width: 480px){
    #ecosystem{
        background-attachment:initial
    }
    #ecosystem .track .hud .app-bar .logo h3{
        font-size:1.15rem
    }
}
#future{
    background-image:url("../img/rainbow_pattern_alt.png");
    background-attachment:fixed;
    background-size:cover
}
@media(max-width: 992px){
    #future{
        background-size:100% auto
    }
}
@media(max-width: 992px){
    #future{
        background-attachment:initial
    }
}
.badge {
        border-radius: 50px !important;
    padding: 5px 10px !important;
    color: #fff;
    text-align: center;
        display: inline;
    
    line-height: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 77%;
}
.pricing-rate span {
        font-size: 12px;
    color: #707070;
    text-transform: uppercase;
    right: -600px;
}
.card.single-pricing-pack{
      transition: all 0.2s ease 0s;
    box-shadow: 0 0 0 1px #ebebeb;
    border: none;
    border-top: 4px solid transparent;  
}
.pricing-rate {
        font-size: 70px;
    font-weight: 700;
    color: #1a2c79;
    position: relative;
    text-align: center;
}
.pricing-rate sup{
        font-size: 24px;
    position: relative;
    left: -20px;
    top: -30px;
}
.single-pricing-pack .card-body{
        color: rgb(1 80 139);
    flex: 1 1 auto;
    padding: 1.5rem;
}
.btn-invest{
    background: linear-gradient(75deg, #1A2C79 10%, #007cc5) !important; 
    color : #fff;
    transition : all 200ms ease-in;
}
.btn-invest:hover, .btn-invest:active{
    background: #1A2C79 !important; 
    color : #fff !important;
}
.bg-transparent.affix{
        /* background: linear-gradient(75deg, #1A2C79 10%, #007cc5) !important; */
        /* background : linear-gradient(75deg, #edeef3 10%, #e3ecf3) !important; */
        background : linear-gradient(75deg, #f1f1f1 10%, #eff0f1) !important;
}
.affix{
        background-color: #1A2C79;
    -webkit-transition: padding 0.4s ease-out;
    -moz-transition: padding 0.4s ease-out;
    -o-transition: padding 0.4s ease-out;
    transition: padding 0.4s ease-out;
}
.pricing-feature-list li{
        font-size: 14px;
    line-height: 28px;
}
/*# sourceMappingURL=main.css.map */
 